* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Smythe", cursive, monospace;
  width: 600px;
  margin: 10px auto;
}

header {
  height: 167px;
  background-image: url("https://images.unsplash.com/photo-1616645500344-209060c84970?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
  background-position-y: 65%;
  padding: 40px 0 0 30px;
  color: #ffffff;
}

h1 {
  font-size: 40px;
  font-weight: lighter;
}

p {
  font-size: 22px;
}
