* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Smythe", cursive, monospace;
  width: 600px;
  margin: 10px auto;
}

header {
  height: 167px;
  background-image: url("https://images.unsplash.com/photo-1616645500344-209060c84970?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
  background-position-y: 65%;
  padding: 40px 0 0 30px;
  color: #ffffff;
}

h1 {
  font-size: 40px;
  font-weight: lighter;
}

p {
  font-size: 22px;
}

#menu-container {
  width: 500px;
  margin: 10px auto;
}

.menu-item {
  display: flex;
  height: 140px;
  align-items: center;
  border-bottom: 1px solid #D2D2D2;
}

.item-icon {
  font-family: "Inter", sans-serif;
  font-size: 80px;
  font-style: normal;
  align-items: left;
  padding-right: 20px;
  opacity: 72%;
}

.menu-detail {
  width: 100%;
  color: #000000;
}

.item-name {
  font-size: 28px;
  padding-bottom: 8px;
  font-weight: 400;
}

.item-ingredients {
  font-size: 16px;
  color: #8b8b8b;
  width: 100%;
  padding-bottom: 10px;
}

.item-price {
  font-size: 24px;
  font-weight: 400;
}

.add-item-btn {
  display: flex;
  justify-content: right;
}

.add-btn{
  height: 50px;
  width: 50px;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  
  border: 1.5px solid #DEDEDE;
  background: transparent;
  border-radius: 50%;
  font-weight: 200;
  color: #3C3C3C;
}
