* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Smythe", cursive, monospace;
  margin: 10px auto;
  width: 600px;
}

header {
  height: 167px;
  background-image: url("https://images.unsplash.com/photo-1616645500344-209060c84970?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
  background-position-y: 65%;
  padding: 40px 0 0 30px;
  color: #ffffff;
  margin-bottom: 67px;
}

h1 {
  font-size: 40px;
  font-weight: lighter;
}

p {
  font-size: 22px;
}

hr {
  margin: 10px 0 15px 0;
  border: 2px solid #393333;
}

.menu-container {
  margin: 10px auto;
  padding: 0 10px;
}

.menu-item {
  display: flex;
  height: 140px;
  align-items: top;
  border-bottom: 1px solid #d2d2d2;
  margin-bottom: 45px;
}

.item-icon {
  font-family: "Inter", sans-serif;
  font-size: 80px;
  font-style: normal;
  align-items: left;
  padding-right: 30px;
  opacity: 72%;
}

.menu-detail {
  width: 100%;
  color: #000000;
}

.item-name {
  font-size: 28px;
  font-weight: 400;
}

.item-ingredients {
  font-size: 16px;
  color: #8b8b8b;
  width: 100%;
  padding-bottom: 12px;
}

.item-price {
  font-size: 24px;
  font-weight: 400;
}

.add-item-btn {
  display: flex;
  justify-content: right;
}

.add-btn {
  height: 50px;
  width: 50px;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 32px;
  border: 1.5px solid #dedede;
  background: transparent;
  border-radius: 50%;
  font-weight: 200;
  color: #3c3c3c;
}

.hidden {
  display: none;
}

.order-container {
  width: 510px;
  margin: 0 auto;
  text-align: center;
}

.order-header {
  margin-bottom: 64px;
}

.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.item-details {
  display: flex;
}

.remove-btn {
  font-family: "Smythe", cursive, monospace;
  font-size: 16px;
  color: #8b8b8b;
  margin-left: 13px;
  border: none;
  background-color: transparent;
}

.remove-btn:hover {
  font-size: 18px;
  color: #c43838;
}

.total-price {
  display: flex;
  justify-content: space-between;
}

.complete-btn {
  width: 500px;
  height: 60px;
  background: #16db99;
  color: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  border: none;
  margin: 50px auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 700;
}

/* Modal Section */
.modal-container {
  display: none;
  border-radius: 3.89px;
  background: #fff;
  width: 524px;
  height: 542.24px;
  flex-shrink: 0;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  width: 475.911px;
  height: 71.304px;
  flex-shrink: 0;
  margin: 0 24px 24px 24px;
  color: #757575;
  font-size: 20px;
  font-family: Verdana;
  line-height: 31.119px;
  padding-left: 50px;
}

.pay-btn {
  width: 475.911px;
  height: 71.304px;
  flex-shrink: 0;
  border-radius: 3.89px;
  background: #16db99;
  color: #ffffff;
  margin: 24px;
  font-size: 20px;
  font-family: Verdana;
  font-weight: 700;
}

.modal-title {
  margin: 46px 112px 46px 108px;
  color: #000;
  font-size: 24px;
  font-family: Verdana;
  font-weight: 700;
}
